/* SEARCH BAR  */

#CREViewCompany .clear {
    content: "";
    clear: both;
    display: table;
}

#CREViewCompany .vertical-algin * {
    display: inline-block;
}

#CREViewCompany .content-heading {
    color: #2C5282;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewCompany .cr-search {
    width: 40%;
    position: relative;
    float: right;
    text-align: right;
    font-size: 1.8rem;
    color: #2C5282;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewCompany .cr-search-bar {
    right: inherit;
    width: 400px;
    padding: 6px 0;
    background-color: #DBF1FF;
    outline: none;
    border: none;
    text-indent: 20px;
}

#CREViewCompany .cr-search i {
    position: absolute;
    right: 8px;
    top: 8px;
}


/* TITLE CONTENT  */

#CREViewCompany .content-title {
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewCompany .company-item {
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewCompany .content-title {
    padding: 24px 16px 8px 16px;
    border-bottom: 1px solid;
    color: #2C5282;
}

#CREViewCompany .company-list {
    margin-top: 24px;
    
}

#CREViewCompany .company-item {
    background-color: #F7FAFC;
    padding: 24px 16px;
    margin-bottom: 8px;
}

#CREViewCompany .content-title>* {
    align-self: center;
    display: inline-block;
}

#CREViewCompany .company-item>* {
    display: inline-block;
}

#CREViewCompany .col2 {
    width: 30%;
}

#CREViewCompany .col3 {
    padding-right: 24px;
    width: 45%;
}

#CREViewCompany .col4 {
    width: 10%;
    margin-right: 50px;
}

#CREViewCompany .col5 {
    width: 10%;
}

#CREViewCompany .col4,
#CREViewCompany .col5 {
    color: var(--white-color);
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
}

#CREViewCompany .col4 {
    background-color: #2C5282;
}

#CREViewCompany .col5 {
    background-color: #D14848;
}


/* FILTER  */

#CREViewCompany .filter {
    color: #0066B2;
    font-size: 2.2rem;
    margin: 16px 0;
}

#CREViewCompany .filter--item {
    display: inline-block;
}

#CREViewCompany #job-number {
    font-weight: bold;
}

#CREViewCompany .filter--select {
    float: right;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
}

#CREViewCompany .filter--select i {
    margin-left: 2px;
}

#CREViewCompany .filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#CREViewCompany #majors-dropdown,
#CREViewCompany #types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 300px;
    padding: 26px 28px 20px 28px;
}

#CREViewCompany .majors:hover #majors-dropdown,
#CREViewCompany .types:hover #types-dropdown {
    display: block;
}

#CREViewCompany .majors-item,
#CREViewCompany .types-item {
    color: #0066B2;
    margin-bottom: 4px;
}

#CREViewCompany #CREViewCompany .majors-item:hover,
.types-item:hover {
    color: var(--primary-color);
}


/* MODAL  */

.row {
    display: flex;
    justify-content: space-between;
}

.col-haft {
    width: 45%;
}

#CREViewCompany .modal {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 114, 41, 0.7);
}

#CREViewCompany .modal-header {
    border: none !important;
    padding: 24px 0 24px;
}

#CREViewCompany .modal-content {
    position: relative;
    top: 12%;
    width: 70%;
    background-color: var(--white-color);
    margin: auto;
    border-radius: 8px;
    padding: 0 128px;
    padding-bottom: 52px;
}

#CREViewCompany .close-modal {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    margin-top: 16px;
    margin-right: 24px;
    display: block;
}

#CREViewCompany .close-modal:hover {
    cursor: pointer;
}

#CREViewCompany .modal-title {
    width: 100%;
    margin-top: 32px;
}

#CREViewCompany .modal-title>* {
    display: inline-block;
}

#CREViewCompany .modal-company-logo {
    max-height: 150px;
    object-fit: cover;
    line-height: 20rem;
}

#CREViewCompany .company-introduction {
    width: 70%;
    text-align: center;
}

#CREViewCompany .company-img {
    width: 30%;
    text-align: left;
}

#CREViewCompany .popup-company-name {
    color: var(--primary-color);
    font-size: 3rem;
    line-height: 50px;
    font-weight: bold;
}

#CREViewCompany .company-name::first-letter {
    text-transform: capitalize;
}

#CREViewCompany .company-location {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}

#CREViewCompany .hiring-title {
    display: block;
    font-size: 3.6rem;
    margin: 32px 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3.6rem;
    text-align: center;
}

#CREViewCompany .company-infor {
    margin-top: 14px;
}

#CREViewCompany .decoration {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 4px;
}

#CREViewCompany .company-infor-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 12px;
}

#CREViewCompany .company-infor-detail {
    font-size: 2rem;
    text-transform: capitalize;
}

#CREViewCompany .company-infor-desc {
    font-size: 2rem;
    width: 100%;
    background-color: #F7F7F7;
    padding: 16px;
    overflow-y: scroll;
}

#CREViewCompany .js-website {
    text-transform: none !important;
}

#CREViewCompany .divide {
    display: flex;
    margin-top: 32px;
}

#CREViewCompany .divide-name {
    flex-grow: 0.1;
    font-size: 1.8rem;
    color: #c4c4c4;
    margin-right: 4px;
}

#CREViewCompany .divide-line {
    border-bottom: 1px solid #c4c4c4;
    flex-grow: 200;
    margin-bottom: 6px;
}

#CREViewCompany .recruiting-details {
    width: 100%;
}

#CREViewCompany .recruiting-details * {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 12px 0;
}

#CREViewCompany .modal-col1 {
    width: 30%;
    text-transform: capitalize;
}

#CREViewCompany .modal-col2 {
    width: 65%;
    text-align: left;
}