#CRAppList .search-content {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 20px;
}

#CRAppList .content {
    font-size: 25px;
    color: #2C5282;
    width: 25%;
}

#CRAppList .content h3 {
    margin: 0;
}

#CRAppList .search-bar {
    display: flex;
    width: 30%;
    align-items: flex-end;
    justify-content: center
}

#CRAppList .search-bar h4 {
    margin: 0;
    line-height: 27px;
    margin-right: 10px;
    text-transform: uppercase;
}

#CRAppList .txt-search {
    color: #2C5282;
}

#CRAppList .search-icon {
    position: absolute;
    line-height: 27px;
    right: 12 .3%;
}

#CRAppList .input-search-bar {
    background-color: #DBF1FF;
    padding: 2px;
    width: 60%;
    line-height: 23px;
    border: none;
}

#CRAppList .table-list-student {
    width: 100%;
    display: table;
    padding-top: 5%;
    padding-left: 1%;
}

#CRAppList .table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 25px;
}

#CRAppList .table-header-cell {
    display: table-cell;
    padding-bottom: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
    color: #2C5282;
    font-size: 18px;
}

#CRAppList .table-body {
    display: table-row-group;
}

#CRAppList .table-row {
    display: table-row;
    height: 70px;
    background-color: #F7FAFC;
}

#CRAppList .table-body-cell {
    display: table-cell;
    padding: 15px;
    text-align: justify;
    line-height: 70px;
    font-weight: bold;
}

#CRAppList .group-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#CRAppList .btn-detail,
#CRAppList .btn-accept,
#CRAppList .btn-decline {
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5%;
}

#CRAppList .btn-detail {
    background-color: #2C5282;
}

#CRAppList .btn-accept {
    background-color: #62AA7A;
}

#CRAppList .btn-decline {
    background-color: #D14848;
}

#CRAppList .btn-detail:hover {
    opacity: 65%;
    cursor: pointer;
}

#CRAppList .btn-accept:hover {
    opacity: 65%;
    cursor: pointer;
}

#CRAppList .btn-decline:hover {
    opacity: 65%;
    cursor: pointer;
}