#CRSInfor .img-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#CRSInfor .infor-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 60px;
    font-size: 16px;
}

#CRSInfor .infor-min {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CRSInfor .infor-name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

#CRSInfor .infor-max {
    background-color: #A8E4FC5E;
    width: 65%;
}

#CRSInfor .avt-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#CRSInfor .infor-age {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
}

#CRSInfor .text {
    width: 40%;
    text-align: justify;
    padding-left: 20%;
}

#CRSInfor .data {
    width: 60%;
    text-align: justify;
    padding-left: 10px;
}

#CRSInfor .data-link {
    text-decoration: none;
}

#CRSInfor .underline {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#CRSInfor .slogan h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

#CRSInfor .max-label {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#CRSInfor .two-row {
    display: flex;
    width: 60%;
}

#CRSInfor .gender {
    display: flex;
    width: 40%;
}

#CRSInfor .max-text {
    width: 40%;
}

#CRSInfor .max-data {
    width: 65%;
    text-transform: capitalize;
}

#CRSInfor .one-row {
    display: flex;
    width: 100%;
}

#CRSInfor .one-text {
    width: 23%;
}

#CRSInfor .input-data,
#CRSInfor .one-data {
    width: calc(100% - 23%);
}

#CRSInfor .input-data {
    background-color: #F5FCFF;
}

#CRSInfor .end-margin {
    margin-bottom: 15px;
}