#StudentViewCompany .search-bar {
    display: flex;
}

#StudentViewCompany .search-input {
    width: 90%;
    padding: 10px;
    font-size: 1.8rem;
    text-indent: 32px;
    position: relative;
    border: none;
    outline: none;
    background-color: #DBF1FF;
}

#StudentViewCompany .search--bar--icon {
    z-index: 1;
    position: absolute;
    left: 16.5%;
    color: var(--black-color);
    opacity: 60%;
}

#StudentViewCompany .clear-icon {
    position: absolute;
    z-index: 1;
    right: 23.5%;
    line-height: 45px;
    color: #000;
    opacity: 60%;
    font-size: 30px;
}

#StudentViewCompany .clear-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

#StudentViewCompany .search-icon {
    font-size: 20px;
    line-height: 45px;
}

#StudentViewCompany .btn-search {
    width: 10%;
    padding: 0 2px;
    font-size: 2.2rem;
    border-radius: 0 2px 2px 0;
}

#StudentViewCompany .filter {
    color: #0066B2;
    font-size: 2.2rem;
    display: inline-block;
    width: 30%;
}

#StudentViewCompany .filter::after {
    content: "";
    clear: both;
    display: table;
}

#StudentViewCompany .filter--item {
    display: inline-block;
}

#StudentViewCompany #job-number {
    font-weight: bold;
}

#StudentViewCompany .filter--select {
    float: right;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
    padding: 5px;
}

#StudentViewCompany .filter--select i {
    margin-left: 2px;
}

#StudentViewCompany .filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#StudentViewCompany #majors-dropdown,
#StudentViewCompany #types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 300px;
    padding: 26px 28px 20px 28px;
}

#StudentViewCompany .majors:hover #majors-dropdown,
#StudentViewCompany .types:hover #types-dropdown {
    display: block;
}

#StudentViewCompany .majors-item,
#StudentViewCompany .types-item {
    color: #0066B2;
    margin-bottom: 4px;
    text-transform: capitalize;
}

#StudentViewCompany #StudentViewCompany .majors-item:hover,
.types-item:hover {
    color: var(--primary-color);
}


/* COMPANY LIST  */

#StudentViewCompany .company-item {
    display: flex;
    border: 1px solid #A8E4FC;
    align-self: stretch;
    background-color: #F7F7F7;
}

#StudentViewCompany .company-logo {
    width: 15%;
    padding: 32px 32px;
    display: flex;
    align-self: center;
}
#StudentViewCompany .company-list{
    height: 500px;
    overflow: auto;
}
#StudentViewCompany .company-info {
    width: 90%;
    padding: 16px 42px;
    background-color: #F5FCFF;
    border-left: 1px solid #A8E4FC;
}

#StudentViewCompany .company-info:hover {
    cursor: pointer;
}

#StudentViewCompany .company-name {
    font-weight: bold;
}

#StudentViewCompany .company-info p {
    font-size: 1.5rem;
}

#StudentViewCompany .company-info h3 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}

#StudentViewCompany .company-logo img {
    width: 100%;
    display: block;
}

#StudentViewCompany .modal {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 114, 41, 0.7);
}

#StudentViewCompany .modal-header {
    padding: 24px;
    border: none !important;
}

#StudentViewCompany .modal-content {
    position: relative;
    top: 12%;
    width: 70%;
    background-color: var(--white-color);
    margin: auto;
    border-radius: 8px;
    padding: 0 128px;
    padding-bottom: 52px;
}

#StudentViewCompany .close-modal {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    margin-top: 16px;
    margin-right: 24px;
    display: block;
}

#StudentViewCompany .close-modal:hover {
    cursor: pointer;
}

#StudentViewCompany .modal-title {
    width: 100%;
    margin-top: 32px;
}

#StudentViewCompany .modal-title>* {
    display: inline-block;
}

#StudentViewCompany .modal-company-logo {
    max-height: 150px;
    object-fit: cover;
    line-height: 20rem;
}

#StudentViewCompany .company-introduction {
    display: flex;
    text-align: left;
}

#StudentViewCompany .popup-company-name {
    color: var(--primary-color);
    font-size: 3.6rem;
    line-height: 150px;
    font-weight: bold;
}

#StudentViewCompany .company-name::first-letter {
    text-transform: capitalize;
}

#StudentViewCompany .company-location {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}

#StudentViewCompany .hiring-title {
    display: block;
    font-size: 3.6rem;
    margin: 32px 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3.6rem;
    text-align: center;
}

#StudentViewCompany .company-infor {
    margin-top: 14px;
}

#StudentViewCompany .decoration {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 4px;
}

#StudentViewCompany .company-infor-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 12px;
}

#StudentViewCompany .company-infor-detail {
    font-size: 2rem;
    text-transform: capitalize;
}

#StudentViewCompany .company-infor-desc {
    font-size: 2rem;
    width: 100%;
    background-color: #F7F7F7;
    padding: 16px;
    overflow-y: scroll;
}

#StudentViewCompany .js-website {
    text-transform: none !important;
}

#StudentViewCompany .divide {
    display: flex;
    margin-top: 32px;
}

#StudentViewCompany .divide-name {
    flex-grow: 0.1;
    font-size: 1.8rem;
    color: #c4c4c4;
    margin-right: 4px;
}

#StudentViewCompany .divide-line {
    border-bottom: 1px solid #c4c4c4;
    flex-grow: 200;
    margin-bottom: 6px;
}

#StudentViewCompany .recruiting-details {
    width: 100%;
}

#StudentViewCompany .recruiting-details * {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 12px 0;
}

#StudentViewCompany .col1 {
    width: 30%;
    text-transform: capitalize;
}

#StudentViewCompany .col2 {
    width: 65%;
    text-align: left;
}

#StudentViewCompany .btn-interact {
    margin-top: 50px;
    text-align: right;
}

#StudentViewCompany .btn-transfer,
#StudentViewCompany .btn-apply {
    border-radius: 6px;
    border: none;
    width: 160px;
    height: 52px;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--white-color);
}

#StudentViewCompany .btn-transfer {
    background-color: #0066B2;
}

#StudentViewCompany .btn-apply {
    background-color: var(--primary-color);
    margin-left: 42px;
}

#StudentViewCompany .ojt-date>* {
    display: inline-block;
    margin-right: 60px;
    font-weight: bold;
}

#StudentViewCompany .ojt-date {
    display: inline-block;
    width: 70%;
    font-size: 1.8rem;
    height: 34px;
}

#StudentViewCompany .cover {
    margin: 16px 0;
    display: flex;
    justify-content: right;
}