#CREViewRequest #content {
    text-transform: uppercase;
}

#CREViewRequest h3 {
    font-size: 2.4rem;
    color: #2C5282;
    font-weight: bold;
    margin-bottom: 24px;
}

#CREViewRequest .request-list {
    width: 100%;
}

#CREViewRequest .request-title {
    border-bottom: 1px solid #000;
}

#CREViewRequest .request-item {
    background-color: #F7FAFC;
    margin: 16px 0;
}

#CREViewRequest .request-item *,
#CREViewRequest .request-title * {
    vertical-align: middle;
    text-align: center;
}

#CREViewRequest .request-title * {
    display: inline-block;
    font-size: 1.6rem;
    color: #2C5282;
    font-weight: bold;
}

#CREViewRequest .request-item * {
    display: inline-block;
    margin: 12px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.col1 {
    width: 4%;
}

.col2 {
    width: 18%;
}

.col3 {
    width: 20%;
}

.col4 {
    width: 22%;
}

.col5 {
    width: 22%;
}

.col6 {
    width: 14%;
}

.request-status {
    padding: 4px 28px;
    border-radius: 25px;
    color: var(--white-color);
    background-color: #62AA7A;
    /* background-color: #2C5282; for transfer
background-color: #D14848; for cancel */
}

#CREViewRequest .btn-detail {
    color: var(--white-color);
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: #2C5282;
}

#CREViewRequest .btn-detail:hover {
    cursor: pointer;
    opacity: 0.9;
}

#CREViewRequest .request-status {
    padding: 4px 28px;
    border-radius: 25px;
    color: var(--white-color);
    background-color: #62AA7A;
    /* background-color: #2C5282; for transfer
    background-color: #D14848; for cancel */
}

#CREViewRequest .row {
    width: 100%;
}

#CREViewRequest .col-haft {
    width: 40%;
    display: inline-block;
}

#CREViewRequest .col-haft *,
#CREViewRequest .desc-title>p {
    color: #2C5282;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

#CREViewRequest .col-4 {
    width: 24%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    color: #2C5282;
    margin-top: 42px;
}

#CREViewRequest .recruitment {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 114, 41, 0.7);
}

#CREViewRequest .recruitment-content {
    position: relative;
    background-color: var(--white-color);
    width: 70%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 8px;
    padding: 52px;
}

#CREViewRequest .close-recruitment {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    margin-top: 24px;
    margin-right: 36px;
    display: block;
}

#CREViewRequest .close-recruitment:hover {
    cursor: pointer;
}

#CREViewRequest .recruitment-title {
    display: block;
    text-align: left;
}

#CREViewRequest .recruitment-title h2 {
    color: #2C5282;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 12px 0;
}

#CREViewRequest .underline {
    border-bottom: 1px solid var(--black-color);
}


/* CONTAINER  */

#CREViewRequest .student-information {
    margin-bottom: 60px;
}

#CREViewRequest .student-information .col-4,
#CREViewRequest .ojt-company,
#CREViewRequest .transfer-company {
    color: var(--black-color);
    font-size: 2.4rem;
    margin: 24px 0 42px;
}

#CREViewRequest .description-input {
    width: 100%;
    border-radius: 4px;
    padding: 12px 0;
    margin-bottom: 52px;
    outline: none;
    font-size: 2rem;
    background-color: #F6F1F1;
    padding: 20px;
}

#CREViewRequest .btn-popup-interact {
    margin-left: 65%;
}

.btn-accept,
#CREViewRequest .btn-decline {
    border-radius: 6px;
    border: none;
    width: 160px;
    height: 52px;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--white-color);
}

#CREViewRequest .btn-accept {
    background-color: #62AA7A;
}

#CREViewRequest .btn-decline {
    background-color: #D14848;
    margin-left: 42px;
}

#CREViewRequest .col-transfer {
    /* display: none; */
}

#CREViewRequest .content-heading {
    display: flex;
    justify-content: space-between;
}

#CREViewRequest .filter--select {
    font-weight: bold;
    margin-left: 40px;
    position: relative;
    font-size: 1.6rem;
    color: #2C5282;
}

#CREViewRequest .filter--select i {
    margin-left: 2px;
}

#CREViewRequest .filter--select:hover {
    cursor: pointer;
    color: var(--black-color);
}

#CREViewRequest #types-dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 150px;
    padding: 26px 28px 20px 28px;
}

#CREViewRequest .types:hover #types-dropdown {
    display: block;
}

#CREViewRequest .types-item {
    color: #0066B2;
    margin-bottom: 4px;
}

#CREViewRequest .row-selected * {
    display: inline-block;
}

#CREViewRequest .row-selected {
    margin-bottom: 24px;
}

#CREViewRequest .checkbox-title {
    font-size: 1.6rem;
    margin-left: 12px;
}

#CREViewRequest .btn-interact {
    display: none;
    margin-left: 70%;
}

.btn-accept,
.btn-decline,
#CREViewRequest .btn-detail {
    color: var(--white-color);
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 5px;
}

#CREViewRequest .btn-detail:hover {
    cursor: pointer;
    opacity: 0.9;
}

#CREViewRequest .row-popup-detail {
    width: 100%;
}

#CREViewRequest .row-company {
    margin-bottom: 24px;
}